/* https://wallpaperaccess.com/full/2825704.gif */
.landing {
    background-image: url('https://wallpaperaccess.com/full/2825801.gif');
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    width: 100%;
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    position:absolute;
    text-align:center;
}
.title {
    text-shadow: -1px 5px 0 #000,
    5px 5px 0 #000,
    5px -1px 0 #000,
    -1px -1px 0 #000;
    font-family: 'Press Start 2P', cursive;
    -moz-user-select: none ;
    -ms-user-select: none ;
    user-select: none ;
    color: #ffffff;
    text-align: center;
    margin-top:280px;
    font-size: 38px; /* 32px default (2em) */
}
.eightbitBtn {
    background: #ffff01;
    display: inline-block;
    position: relative; 
    text-align: center;
    font-size: 20px;
    padding: 15px;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color: #000000;
    box-shadow: inset -5px -5px 0px 0px #4c4c0a;
}
.eightbitBtn:hover, .eightbitBtn:focus {
    background: #d8d80c;
    cursor: pointer;
    box-shadow: inset -6.5px -6.5px 0px 0px #4c4c0a;
}
.eightbitBtn:active {
    background: #b3b308;
    box-shadow: inset 4px 4px 0px 0px #4c4c0a;
}
.eightbitBtn:before, .eightbitBtn:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}
.eightbitBtn:before {
    top: -6px;
    left: 0;
    border-top: 6px black solid;
    border-bottom: 6px black solid;
}
.eightbitBtn:after {
    left: -6px;
    top: 0;
    border-left: 6px black solid;
    border-right: 6px black solid;
}