.background {
    background-image: url('https://wallpaperaccess.com/full/2825801.gif');
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    width: 100%;
    background-size:cover;
    background-position:center center;
    background-repeat: repeat;
    position:absolute;
    text-align:center;
}

.games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}